body {
    font-family: "Kanit", sans-serif;
   
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    min-height: 95vh;
}
.main {
    flex: 1;
}
h1 {
    font-size: 3rem;
    text-align: center;
    
}
img {
    height: 150px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}
.card {
    width: 49%;
    background-color: rgb(34, 73, 190);
    border-radius: 20px;
    margin-bottom: 20px;
}
.left {
    float: left;
}
.right {
    float: right;
}
p {
    text-align: center;
    padding: 5px;
    color: aliceblue;
}
h3 {
    padding: 5px 15px;
    color: aliceblue;
}
h2 {
    text-align: center;
    padding: 30px;
    background-color: rgb(34, 73, 190);
    color: aliceblue;
    width: 96%;    
}
@media (max-width: 1500px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .card {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        text-align: justify;
    }
    .card img {
        margin-bottom: 10px;
        width: 45%;
        display: inline;
        }
}
